.nav__container {
    position: fixed;
    bottom: -1px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px -2px 8px var(--var-shadow-nav);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    max-width: 968px;
    margin: 0rem 1rem;
}

.nav__logo {
    width: 40px;
}

.m-l {
    margin-left: 1rem;
}
