.container__contactMe {
    margin-bottom: 60px;

    .container__card__contactMe {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        span {
            font-size: 2rem;
        }
        .contactMe__info {
            margin-left: 1rem;
            p {
                margin-bottom: 0px;
            }
        }
        a {
            text-decoration: none;
            font-size: 0.875rem;
            display: flex;
            align-items: center;

            border: 1px solid var(--var-primary-gray);
            padding: 1rem;
            border-radius: 4px;

            .contactMe__info {
                p::after {
                    content: ' →';
                    // position: absolute;
                    transform: translateX(3px);
                    transition: all 0.3s ease-in-out;
                    opacity: 0;
                }
            }
        }

        a:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all 0.3s;
            .contactMe__info {
                p::after {
                    transform: translateX(7px);
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container__contactMe {
        .container__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
