.container__logo {
    display: flex;
    justify-content: center;
    background-color: transparent;
    .logo {
        margin-top: 64px;
        margin-bottom: 64px;
        background-color: transparent;
    }
}

.container__button {
    text-align-last: right;
}
