.container__qualification {
    .icon__qualification {
        font-size: 5rem;
        margin-top: 4rem;
        align-self: center;
    }

    h3 {
        margin-bottom: 3rem;
        align-self: center;
    }

    .title-swiper {
        margin-top: 2rem;
        margin-bottom: 0rem;
        align-self: initial;
        color: var(--var-secondary-dark-gray);
    }

    .container__glass {
        display: flex;
        flex-direction: column;

        background: rgba(var(--var-white), 0.25);
        box-shadow: 0 8px 32px 0 var(--var-shadow-nav);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border-radius: 10px;
        border: 1px solid var(--var-secondary-light-gray--op);
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .container__glass.school {
        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    .container__glass.work {
        padding: 2rem;
    }

    // .glass__left {
    //     margin-left: 2rem;
    // }
    // .glass__right {
    //     margin-right: 2rem;
    // }
}

@media (min-width: 768px) {
    .container__qualification {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }
    }
}
