@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
}

.mode_white {
    /*WHITE - BLACK*/
    --white: #fff;
    --black: #000;
    --var-black: rgb(20, 20, 20);
    --var-white: rgb(244, 244, 244);
    --var-light-black: #2b2b2b;
    --var-primary-gray: #bababa;
    --var-secondary-gray: #a5a5a5;
    --var-secondary-dark-gray: #7f7f7f;
    --var-secondary-light-gray: #d8d8d8;
    --var-shadow-nav: rgba(20, 20, 20, 0.25);
    --var--error: #ff3333;
    --var--confirm: #2b9238;
}

.mode_dark {
    /*BLACK - WHITE*/
    --white: #000;
    --black: #fff;
    --var-black: rgb(244, 244, 244);
    --var-white: rgb(20, 20, 20);
    --var-light-black: #2b2b2b;
    --var-primary-gray: #bababa;
    --var-secondary-gray: #a5a5a5;
    --var-secondary-dark-gray: #d8d8d8;
    --var-secondary-light-gray: #7f7f7f;
    --var-shadow-nav: rgba(255, 255, 255, 0.25);
    --var--error: #ff7272;
    --var--confirm: #53e978;
}

* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--var-white);
    z-index: 1;
    transition: background-color 0.3s;
}

body {
    transition: all 0.3s ease-in-out;
}

.logoColor {
    fill: var(--var-black);
}

.shapesColor {
    stroke: var(--white);
}
.slidesColor {
    fill: var(--var-secondary-light-gray);
}

.cloudBackColor {
    fill: var(--white);
}
.cloudFrontColor {
    fill: var(--var-white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    font-weight: 600;
    font-size: 2.125rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 400;
    font-size: 1.125rem;
}

p {
    font-weight: 300;
    font-size: 0.875rem;
}

small {
    font-weight: 300;
    font-size: 0.688rem;
}

.button-att {
    font-weight: 600;
    font-size: 0.875rem;
}

h1,
h2,
h3,
p,
button {
    margin: 8px 0px;
}

small {
    margin: 0px;
}

small.errorTag {
    color: var(--var--error);
}

button {
    font-weight: 600;
    font-size: 0.875rem;
    padding: 1rem;
    border: none;
    border-radius: 6px;
    background-color: var(--var-black);
    color: var(--var-white);
    min-width: 128px;
    text-align-last: center;

    &:hover {
        cursor: pointer;
        filter: brightness(85%);
        //background-color: darken(var(--var-black), 15%);
    }
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

// colors class
.color--black {
    color: var(--var-black);
}

.color--white {
    color: var(--var-white);
}

.color--light-black {
    color: var(--var-light-black);
}

.color--secondary-dark-gray {
    color: var(--var-secondary-dark-gray);
}

.color--secondary-light-gray {
    color: var(--var-secondary-light-gray);
}

.color--primary-gray {
    color: var(--var-primary-gray);
}

.color--secondary-gray {
    color: var(--var-secondary-gray);
}

.container {
    margin: 0px 42px;
}

.title {
    margin-top: 10rem;
}

.align-self--center {
    align-self: center;
}

.bg-none {
    background-color: transparent;
}

.bg-black {
    background-color: var(--var-black);
}

.d-flex {
    display: flex;
}

.container {
    background-color: transparent;
}

.invert-h {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    label {
        font-weight: 400;
    }

    input[type='text'],
    input[type='email'],
    textarea[type='text'] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid var(--var-primary-gray);
        border-radius: 4px;
        box-sizing: border-box;
        background-color: var(--white);
        color: var(--var-secondary-gray);
        outline: none;
        resize: none;
        width: 100%;
    }

    input[type='text'].input__error,
    input[type='email'].input__error,
    textarea[type='text'].input__error {
        border: 1px solid var(--var--error);
    }

    textarea[type='text'] {
        height: 150px;
    }

    input[type='submit'] {
        font-weight: 600;
        font-size: 0.875rem;
        padding: 1rem;
        border: none;
        border-radius: 6px;
        background-color: var(--var-black);
        color: var(--var-white);
        min-width: 128px;
        max-width: 128px;
        text-align-last: center;
        margin-top: 2rem;
        cursor: pointer;
        &:hover {
            cursor: pointer;
            filter: brightness(85%);
            //background-color: darken(var(--var-black), 15%);
        }
    }
}

.container__button {
    button {
        position: relative;
        min-height: 53px;
    }
    .button--loading::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }
    .button--confirm {
        background-color: var(--var--confirm);
    }

    .button--error {
        -webkit-animation: vibrate ease-in 0.5s forwards;
        animation: vibrate ease-in 0.5s forwards;
        background-color: var(--var--error);
    }
}

::-webkit-scrollbar {
    background-color: #a5a5a5;
    border-radius: 0.5rem;
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    border-radius: 0.5rem;
}

.modal {
    opacity: 1;
    .modal__container {
        position: relative;
        padding: 2rem;
        border-radius: 8px;
        color: var(--var-black);
        max-width: 70%;
        box-shadow: 0 8px 32px 0 var(--var-shadow-nav);
        animation-name: popScaleOpen;
        animation-duration: 0.3s;

        transition: all 0.3s;
        h2 {
            margin-bottom: 1rem;
        }

        .modal__close {
            color: var(--var-primary-gray);
            top: 8px;
            right: 8px;
            position: absolute;
            cursor: pointer;
        }

        li {
            margin: 8px 0px;
            display: flex;
            align-items: center;
        }
    }
}

.modal--open {
    opacity: 1;
}
.modal--close {
    opacity: 0;
}

@keyframes popScaleOpen {
    0% {
        transform: scale(0%);
    }
    80% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes popScaleClose {
    0% {
        transform: scale(100%);
    }
    20% {
        transform: scale(120%);
    }
    100% {
        transform: scale(0%);
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0px 84px;
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0px auto;
        max-width: 960px;
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes vibrate {
    0%,
    30%,
    60%,
    85%,
    100% {
        left: 0;
    }
    10%,
    40%,
    90%,
    70% {
        left: -2px;
    }
    20%,
    50%,
    80%,
    95% {
        left: 2px;
    }
}

/* The alert message box */
.alert {
    opacity: 0;
    position: fixed;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: flex;
    left: 10px;
    z-index: 5;
    width: 97%;
    box-sizing: border-box;
    top: -10px;

    span {
        height: 24px;
        margin-right: 0.5rem;
    }
    small {
        align-self: center;
    }
}

.showAlert {
    top: 10px;

    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease-in-out;
}

.hideAlert {
    top: -10px;

    opacity: 0;
    transform: translateY(-57px);
    transition: all 1s ease-in-out;
}

.error {
    color: var(--var--error);
    //background-color: #f8d7da;
    border-color: var(--var--error);
}

.success {
    color: var(--var--confirm);
    //background-color: #d1e7dd;
    border-color: var(--var--confirm);
}

.warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

@media (min-width: 768px) {
    /* The alert message box */
    .alert {
        left: unset;
        right: -256px;
        max-width: 256px;
        top: 10px;
    }

    .showAlert {
        right: 10px;
        // transform: translateX(-258px);
    }

    .hideAlert {
        transform: translateX(326px);
    }
}

.scroll__up {
    background-color: var(--var-black);
    position: fixed;
    right: 20px;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border: solid 1px var(--var-white);

    span {
        color: var(--var-white);
    }
}

.showScroll__up {
    opacity: 0.3;
    bottom: 70px;
    transition: all 0.3s ease-in-out;
}

.hideScroll__up {
    opacity: 0;
    bottom: -30px;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    /* The alert message box */
    .alert,
    .showAlert {
        top: 60px;
    }

    .scroll__up {
        cursor: pointer;
    }
}
