.container__home {
    display: grid;
}

.container__info {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1080px) {
    .container__home {
        padding: 15rem 0rem;
        .container__logo {
            order: 2;
        }
        .container__info {
            order: 1;
            align-self: center;
            .container__button {
                text-align-last: left;
            }
        }
        grid-template-columns: repeat(2, 1fr);
    }
}
